[submodule "mysql-5.6"]
	path = mysql-5.6
	url = git@github.com:facebook/mysql-5.6.git
[submodule "rocksdb"]
	path = rocksdb
	url = git@github.com:Terark/rocksdb.git

[submodule "terark-zip-rocksdb"]
	path = terark-zip-rocksdb
	url = git@github.com:terark/terark-zip-rocksdb.git
